# 시계열 사전 과제
## Pandas에서 날짜 데이터 다루기

시계열 데이터를 다루기 위해서는 **날짜와 시간**(Date & Time)을 주피터노트북에서 다룰 수 있어야 합니다.

파이썬의 내장 라이브러리인 datetime과 판다스의 diff() 함수를 통해 시계열 데이터의 기초를 다져봅시다.

### 1. datetime

⇒ 날짜+시간을 저장하는 클래스

- `.now()` - 현재의 날짜와 시간을 반환  
- `.year`, `.month`, `.day` - datetime 객체의 연, 월, 일 추출
- `.hour`, `.minute`, `.second`, `.microsecond` - datetime 객체의 시, 분, 초, 마이크로초 추출
- `.weekday()` - datetime 객체의 요일 반환 (0: 월 ~ 6:일)
- `.date()` - datetime 객체의 날짜 부분만 반환
- `.time()` - datetime 객체의 시간 부분만 반환

In [1]:
# step 0. datetime 라이브러리를 dt라는 약자로 불러와 봅시다~
import datetime as dt

In [2]:
# step 1. 현재 시간을 datetime 객체로 불러와 봅시다~
now = dt.datetime.now()
now

datetime.datetime(2025, 11, 21, 5, 36, 8, 904312)

In [3]:
print("현재 시간(now):", now)

현재 시간(now): 2025-11-21 05:36:08.904312

In [4]:
# step 2. 현재 시간을 연, 월, 일, 시간, 분, 초로 나누어 봅시다~
year = now.year
month = now.month
day = now.day
hour = now.hour
minute = now.minute
second = now.second

print(year, month, day, hour, minute, second)

2025 11 21 5 36 8

In [5]:
# step 3. 현재 시간을 통해 오늘이 무슨 요일인지 알아봅시다~
# 0: 월요일, 1: 화요일, ..., 6: 일요일
weekday = now.weekday()
print("요일(0~6):", weekday)

요일(0~6): 4

In [6]:
# step 4. 현재 시간의 날짜 부분만 추출해 봅시다~
date = now.date()
date

datetime.date(2025, 11, 21)

In [7]:
# 주의 : 이때 date의 타입을 잘 보시면 datetime.date 입니다. datetime.datetime 과는 다른 타입이에요!!
# 따라서 뒤에 또 나오겠지만 datetime끼리의 연산도 할 수 없습니다. 궁금하면 now - date 직접 한번 해보세요~
type(date)

datetime.date

In [8]:
# step 5. 현재 시간의 시간 부분만 추출해 봅시다~
time = now.time()
time

datetime.time(5, 36, 8, 904312)

In [9]:
# 이때도 타입을 잘 보면 datetime.time 입니다. datetime이 아니에요~
type(time)

datetime.time

### 2. 날짜 형식 변환 (String ↔ Datetime)

시계열 데이터를 불러오면 날짜가 '문자열(String)'로 되어 있는 경우가 많습니다.  

이를 분석 가능한 '날짜 객체'로 바꾸거나, 반대로 출력 형식을 바꿀 때 아래 메서드를 사용합니다.

<br>

`.srtftime()` : format time (Datetime 객체 → 문자열)  
`.strptime()` : parse time (문자열 → Datetime 객체)

<br>

Tip: 포맷 코드는 대소문자를 구분합니다!

- %Y: 4자리 연도 / %y: 2자리 연도

- %m: 월 / %d: 일

- %H: 24시간 / %M: 분 / %S: 초

In [10]:
# step 6. datetime 객체를 문자열로 변환해 봅시다~
# 현재 시간을 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 !!
now_str = now.strftime("%Y-%m-%d %H:%M:%S")
now_str

'2025-11-21 05:36:08'

In [11]:
# + 이런 식으로 원하는 형태의 포맷으로 자유롭게 변환할 수 있습니다~
print(now.strftime("%Y년 %m월 %d일 %H시 %M분 %S초"))

2025년 11월 21일 05시 36분 08초

In [12]:
# step 7. 이번에는 아까 문자열로 바꾼 now_str을 다시 datetime 객체로 변환해 봅시다~
# strftime에서 바꾸고 싶은 형태의 포맷을 직접 지정했다면, strptime에서는 기존 문자열의 포맷을 그대로 입력해 줘야 합니다.
now_dt = dt.datetime.strptime(now_str, "%Y-%m-%d %H:%M:%S")
now_dt

datetime.datetime(2025, 11, 21, 5, 36, 8)

In [13]:
type(now_dt)

datetime.datetime

### 3. 더 쉬운 날짜 변환: dateutil

strptime은 형식을 일일이 지정해야 해서 번거로울 때가 있습니다.   

dateutil 라이브러리의 `parse()` 함수는 문자열의 날짜 형식을 자동으로 추론하여 변환해 줍니다.

In [14]:
# 라이브러리를 불러옵니다
from dateutil.parser import parse
# parse 함수를 이용해 다양한 형태의 날짜/시간 문자열을 datetime 객체로 변환할 수 있습니다

In [15]:
# 형식을 지정하지 않아도 알아서 날짜로 인식합니다.
date1 = parse('2025-11-24')
print("date1:", date1)

date1: 2025-11-24 00:00:00

In [16]:
date2 = parse('Nov 24th, 2025 6:30 PM')
print("date2:", date2)

date2: 2025-11-24 18:30:00

### 4. 날짜 연산하기: timedelta

날짜끼리 더하거나 뺄 수 있습니다

Datetime - Datetime = `Timedelta` (두 날짜 사이의 기간)

Datetime ± Timedelta = `Datetime` (특정 날짜에서 며칠 뒤/전)

(주의) Datetime + Datetime은 불가능합니다.

In [17]:
# 시간 데이터가 datetime 객체로 저장된다면, 시간간격 데이터는 timedelta라는 또다른 객체로 저장됩니다.

insight_birth = dt.datetime(2019, 2, 17, 12, 59)
insight_birth

datetime.datetime(2019, 2, 17, 12, 59)

In [18]:
last_session = dt.datetime(2025, 12, 1, 18, 30)
last_session

datetime.datetime(2025, 12, 1, 18, 30)

In [19]:
# 1. 날짜 간의 차이 계산은 쉽게 연산 가능합니다
delta = last_session - insight_birth
print("시간 차이(delta):", delta)
print("차이 일수:", delta.days)
print("차이 초:", delta.seconds)

시간 차이(delta): 2479 days, 5:31:00
차이 일수: 2479
차이 초: 19860

In [20]:
insight_age = now - insight_birth
insight_age
# datetime 객체끼리 뺄셈을 하니 timedelta 객체로 자동 반환되는 것을 확인할 수 있습니다.

datetime.timedelta(days=2468, seconds=59828, microseconds=904312)

In [21]:
# datetime 객체끼리는 덧샘이 불가능합니다!
insight_birth + last_session

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'datetime.datetime'

In [22]:
# timedelta끼리는 덧셈, 뺄셈 모두 가능합니다!
insight_age - (now - last_session)

datetime.timedelta(days=2479, seconds=19860)

In [23]:
# timedelta 객체를 직접 지정해 datetime 객체에 더해줄 수도 있습니다.
insight_13th_is_free = last_session + dt.timedelta(days=25, hours=2, minutes=10)
insight_13th_is_free

datetime.datetime(2025, 12, 26, 20, 40)

### 5. Pandas diff(): 시계열 데이터의 변화량 구하기

시계열 분석에서 가장 중요한 개념 중 하나인 **차분**(Differencing)을 판다스에서는 `.diff()`로 간단히 구현할 수 있습니다.

- 목적: 추세를 제거하여 데이터를 **정상성**(Stationarity)을 띠게 만들거나, **전일 대비 증감량**을 볼 때 사용합니다.

- 특징: 첫 번째 값은 이전 데이터가 없으므로 `NaN`이 발생합니다.

In [24]:
import pandas as pd

# 예시 데이터: 5일간의 주가라고 가정해봅시다.(0일차부터 4일차까지)
s = pd.Series([100, 120, 130, 125, 150])
s

0    100
1    120
2    130
3    125
4    150
dtype: int64

In [25]:
# 1. 1차 차분 (바로 앞 시점과의 차이)
# 120 - 100 = 20, 130 - 120 = 10 ...
diff_1 = s.diff()
diff_1

0     NaN
1    20.0
2    10.0
3    -5.0
4    25.0
dtype: float64

In [26]:
# 2. 2차 차분 (2개 전 시점과의 차이)
# 130 - 100 = 30 ...
diff_2 = s.diff(2)
diff_2

0     NaN
1     NaN
2    30.0
3     5.0
4    20.0
dtype: float64

이런 방식으로 이전 시점과의 차이를 쉽게 구할 수 있습니다!
자세한 활용법은 세션에서 배워봐요~