# 1. Pandasë€?
- ë°ì´í„° ë¶„ì„ì— íŠ¹í™”ëœ íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬
- í–‰ê³¼ ì—´ë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„° ê°ì²´ë¥¼ ë§Œë“¤ì–´ ë‹¤ë£° ìˆ˜ ìˆê²Œ ë˜ë©°, ë³´ë‹¤ ì•ˆì •ì ìœ¼ë¡œ ëŒ€ìš©ëŸ‰ì˜ ë°ì´í„°ë“¤ì„ ì²˜ë¦¬í•˜ëŠ”ë° ë§¤ìš° í¸ë¦¬í•œ ë„êµ¬
- Numpyì˜ í™•ì¥íŒìœ¼ë¡œ, `Numpy ê¸°ëŠ¥` + `êµ¬ì¡°í™” ëœ ë°ì´í„° ì²˜ë¦¬ ê¸°ëŠ¥`ì„ ë³´ìœ í•¨

## 1-1. Pandasì˜ ì£¼ìš” ë°ì´í„° êµ¬ì¡°

<img src = 'https://dandyrilla.github.io/images/2017-08-12/fig0.png'>

|ì´ë¦„|ì°¨ì›|ì„¤ëª…|
|:-----------:|:-----------:|:-----------:|
|Series|1ì°¨ì›|ê· ì¼í•œ ìœ í˜•ì˜ ë°°ì—´ë¡œ í‘œì‹œëœ 1ì°¨ì› ë°ì´í„°|
|DataFrame|2ì°¨ì›|ì¸ë±ìŠ¤ê°€ ê°™ì€ í•˜ë‚˜ ì´ìƒì˜ Seriesê°€ ëª¨ì—¬ì§„ 2ì°¨ì› í‘œ í˜•ì‹ì˜ ë°ì´í„°|

> Pandasì˜ í•µì‹¬ì€ DataFrame!

# 2. DataFrame ìƒì„±

## 2-1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd

## 2-2. ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°

In [2]:
# ê´„í˜¸ ì•ˆì—ì„œ Shift + Tabì„ ëˆŒëŸ¬ë³´ì„¸ìš”!
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

**DataFrameì˜ ì†ì„±ê°’**
```python
pd.DataFrame(data = None, index = None, columns = None, dtype = None, copy = False)
```
- data : DataFrameì„ ìƒì„±í•  ë°ì´í„°
- index : indexì— ëŒ€í•œ ì •ë³´, ë¯¸ì…ë ¥ì‹œ 0ë¶€í„° ìˆœì°¨ì ìœ¼ë¡œ ë¶€ì—¬ (Optional)
- columns : ì—´ì— ëŒ€í•œ ì´ë¦„ê°’, ë¯¸ì…ë ¥ì‹œ 0ë¶€í„° ìˆœì°¨ì ìœ¼ë¡œ ë¶€ì—¬ (Optional)
- dtype : ê° columnì˜ ë°ì´í„° íƒ€ì… ëª…ì‹œ, ë¯¸ì…ë ¥ì‹œ ìì²´ì ìœ¼ë¡œ íŒë‹¨ (Optional)

#### [2ì°¨ì› ë¦¬ìŠ¤íŠ¸ë¡œ ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°]

In [ ]:
lst = [['ìœ¤í•´ë¯¼', 21, 'ê²½ì˜', 'ì¸ê³µì§€ëŠ¥ìœµí•©', 'íšŒì¥'], 
       ['í™©ì¢…ë¹ˆ', 20, 'ë¯¸ì—”', 'ì»´ê³µ', 'êµìœ¡íŒ€ì¥'],
       ['ì—„íƒœë¦¼', 20, 'ì‹¬ë¦¬', 'ë¹…ì‚¬', 'êµìœ¡íŒ€ì›'], 
       ['ì´ì§€í˜„', 21, 'ë¬¼ë¦¬', '', 'êµìœ¡íŒ€ì›'],
       ['ê¹€ì°¬ìš°', 21, 'ê²½ì˜', 'ê²½ì œ', 'êµìœ¡íŒ€ì›']]

df = pd.***(***, columns=['ì´ë¦„', 'í•™ë²ˆ', 'ì „ê³µ', 'ë³µìˆ˜ì „ê³µ', 'ì—­í• '])
df = df.set_index('ì´ë¦„')

df

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

#### [ì‚¬ì „ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°]

In [ ]:
dic = {
    'ì´ë¦„': ['ìœ¤í•´ë¯¼', 'í™©ì¢…ë¹ˆ', 'ì—„íƒœë¦¼', 'ì´ì§€í˜„', 'ê¹€ì°¬ìš°'],
    'í•™ë²ˆ': [21, 20, 20, 21, 21],
    'ì „ê³µ': ['ê²½ì˜', 'ë¯¸ì—”', 'ì‹¬ë¦¬', 'ë¬¼ë¦¬', 'ê²½ì˜'],
    'ë³µìˆ˜ì „ê³µ': ['ì¸ê³µì§€ëŠ¥ìœµí•©', 'ì»´ê³µ', 'ë¹…ì‚¬', '', 'ê²½ì œ'],
    'ì—­í• ': ['íšŒì¥', 'êµìœ¡íŒ€ì¥', 'êµìœ¡íŒ€ì›', 'êµìœ¡íŒ€ì›', 'êµìœ¡íŒ€ì›']
}

df2 = pd.DataFrame(***)
df2 = df2.set_index('ì´ë¦„')

df2

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

## 2-3. ë°ì´í„°í”„ë ˆì„ íƒ€ì… í™•ì¸

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
# ì»¬ëŸ¼ë³„ ë°ì´í„° íƒ€ì… í™•ì¸
# ê° ì»¬ëŸ¼ì€ ë‹¤ì–‘í•œ ë°ì´í„° íƒ€ì…ìœ¼ë¡œ êµ¬ì„±ë˜ë©°, ê°™ì€ ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì…ì€ ë™ì¼í•˜ë‹¤
df.dtypes

í•™ë²ˆ       int64
ì „ê³µ      object
ë³µìˆ˜ì „ê³µ    object
ì—­í•       object
dtype: object

# 3. DataFrame ì ‘ê·¼

## 3-1. head, tailë¡œ ì ‘ê·¼í•˜ê¸°

- `head(ê°œìˆ˜)` : ìœ„ì—ì„œë¶€í„° ê°œìˆ˜ë§Œí¼ì˜ ë°ì´í„° ì¶œë ¥
- `tail(ê°œìˆ˜)` : ë°‘ì—ì„œë¶€í„° ê°œìˆ˜ë§Œí¼ì˜ ë°ì´í„° ì¶œë ¥

In [ ]:
df.***(3)

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›

In [8]:
df.tail() #ê°œìˆ˜ë¥¼ ì“°ì§€ ì•Šì„ ê²½ìš° 5ê°œë§Œ ì¶œë ¥

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

## 3-2. í–‰ëª…, ì—´ëª…ìœ¼ë¡œ ì ‘ê·¼í•˜ê¸°: loc
: `df.loc['í–‰ëª…', 'ì—´ëª…']`

í–‰: row / ì—´: column

|ì ‘ê·¼ ë°©ë²•|ì‚¬ìš© ë°©ë²•|
|:--------------------------:|:-----------:|
|í–‰ëª…|`df.loc["row4"]`|
|í–‰ëª… ë¦¬ìŠ¤íŠ¸|`df.loc[["row3", "row4", "row5"]]`|
|í–‰ëª… ìŠ¬ë¼ì´ì‹±|`df["row3" : "row5"]`|
|ì—´ëª…|`df.loc[ : , "col1"]`|`df["col1"]`|
|ì—´ëª… ë¦¬ìŠ¤íŠ¸|`df.loc[ : , ["col3", "col4", "col5"]` or `df[["col3", "col4", "col5"]]`|
|ì—´ëª… ìŠ¬ë¼ì´ì‹±|`df.loc[ : , ["col3" : "col5"]`|

#### [ê°’ 1ê°œ ì¸ë±ì‹±]

In [ ]:
df.***['ìœ¤í•´ë¯¼', 'ì—­í• ']

'íšŒì¥'

In [10]:
df[['ì „ê³µ']]

     ì „ê³µ
ì´ë¦„
ìœ¤í•´ë¯¼  ê²½ì˜
í™©ì¢…ë¹ˆ  ë¯¸ì—”
ì—„íƒœë¦¼  ì‹¬ë¦¬
ì´ì§€í˜„  ë¬¼ë¦¬
ê¹€ì°¬ìš°  ê²½ì˜

#### [í•œ ì¤„ ì¸ë±ì‹±]
- í•˜ë‚˜ì˜ indexë§Œ ì¡°íšŒ í•  ê²½ìš° Series Typeìœ¼ë¡œ ì¶œë ¥

In [ ]:
# í–‰ëª…ìœ¼ë¡œ ì ‘ê·¼í•˜ê¸°
# ì»¬ëŸ¼ ì „ì²´ë¥¼ ì§€ì •í•œë‹¤ëŠ” ì˜ë¯¸ë¡œ : ë¥¼ ì…ë ¥í•¨
df.***['í™©ì¢…ë¹ˆ', *** ]  # df.loc['í™©ì¢…ë¹ˆ']

í•™ë²ˆ        20
ì „ê³µ        ë¯¸ì—”
ë³µìˆ˜ì „ê³µ      ì»´ê³µ
ì—­í•       êµìœ¡íŒ€ì¥
Name: í™©ì¢…ë¹ˆ, dtype: object

In [ ]:
# ì—´ëª…ìœ¼ë¡œ ì ‘ê·¼í•˜ê¸°
df.***[ *** , 'ì „ê³µ']  #df['ì „ê³µ']  #df.ì „ê³µ

ì´ë¦„
ìœ¤í•´ë¯¼    ê²½ì˜
í™©ì¢…ë¹ˆ    ë¯¸ì—”
ì—„íƒœë¦¼    ì‹¬ë¦¬
ì´ì§€í˜„    ë¬¼ë¦¬
ê¹€ì°¬ìš°    ê²½ì˜
Name: ì „ê³µ, dtype: object

#### [ì—¬ëŸ¬ ì¤„ ì¸ë±ì‹±]
- ì—¬ëŸ¬ indexë¥¼ ì¡°íšŒ í•  ê²½ìš° DataFrame Typeìœ¼ë¡œ ì¶œë ¥

In [ ]:
df.***[['ì—„íƒœë¦¼', 'ì´ì§€í˜„'], *** ]  #df.loc[['ì—„íƒœë¦¼', 'ì´ì§€í˜„']]

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ì—„íƒœë¦¼  20  ì‹¬ë¦¬   ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬       êµìœ¡íŒ€ì›

In [ ]:
df.***[ *** , ['ì „ê³µ', 'ë³µìˆ˜ì „ê³µ']]  #df[['ì „ê³µ', 'ë³µìˆ˜ì „ê³µ']]

     ì „ê³µ    ë³µìˆ˜ì „ê³µ
ì´ë¦„
ìœ¤í•´ë¯¼  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©
í™©ì¢…ë¹ˆ  ë¯¸ì—”      ì»´ê³µ
ì—„íƒœë¦¼  ì‹¬ë¦¬      ë¹…ì‚¬
ì´ì§€í˜„  ë¬¼ë¦¬
ê¹€ì°¬ìš°  ê²½ì˜      ê²½ì œ

#### [ìŠ¬ë¼ì´ì‹±]

In [ ]:
df.***[***, : ]  #df.loc['í™©ì¢…ë¹ˆ' : 'ì´ì§€í˜„']  #df['í™©ì¢…ë¹ˆ' : 'ì´ì§€í˜„']

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”   ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬   ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬       êµìœ¡íŒ€ì›

In [ ]:
df.***[:, 'í•™ë²ˆ' : 'ë³µìˆ˜ì „ê³µ']

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬
ì´ì§€í˜„  21  ë¬¼ë¦¬
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ

## 3-3. ìœ„ì¹˜ ë²ˆí˜¸ë¡œ ì ‘ê·¼í•˜ê¸°: iloc
: `df.iloc['í–‰ë²ˆí˜¸', 'ì—´ë²ˆí˜¸']`

|ì ‘ê·¼ ë°©ë²•|ì‚¬ìš© ë°©ë²•|
|:--------------------------:|:-----------:|
|í–‰ ìœ„ì¹˜|`df.iloc[2]`|
|í–‰ ìœ„ì¹˜ ë¦¬ìŠ¤íŠ¸|`df.iloc[[2, 6, 4]]`|
|í–‰ ìœ„ì¹˜ ìŠ¬ë¼ì´ì‹±|`df.iloc[2:5]` or `df[2:5]`|
|ì—´ ìœ„ì¹˜|`df.iloc[ : , 3]`|
|ì—´ ìœ„ì¹˜ ë¦¬ìŠ¤íŠ¸|`df.iloc[ : , [3, 2, 5]]`|
|ì—´ ìœ„ì¹˜ ìŠ¬ë¼ì´ì‹±|`df.iloc[ : , 3:5]`|

In [17]:
df

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

#### [0ë²ˆ row, 3ë²ˆ columnì— í•´ë‹¹í•˜ëŠ” ê°’ ì¶œë ¥]

In [ ]:
df.***[0, 3]

'íšŒì¥'

#### [1ë²ˆê³¼ 3ë²ˆ row, 1ë²ˆê³¼ 2ë²ˆ columnì— í•´ë‹¹í•˜ëŠ” ë°ì´í„° ì¶œë ¥]

In [ ]:
df.***[***, ***]

     ì „ê³µ ë³µìˆ˜ì „ê³µ
ì´ë¦„
í™©ì¢…ë¹ˆ  ë¯¸ì—”   ì»´ê³µ
ì´ì§€í˜„  ë¬¼ë¦¬

#### [2ë²ˆ ~ ë§ˆì§€ë§‰ row, 0ë²ˆ ~ 2ë²ˆ colì— í•´ë‹¹í•˜ëŠ” ë°ì´í„° ì¶œë ¥]

In [ ]:
# ì—°ì†ëœ ë°ì´í„° ì¶œë ¥ --> ìŠ¬ë¼ì´ì‹± í™œìš©

df.iloc[***, ***]

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ
ì´ë¦„
ì—„íƒœë¦¼  20  ì‹¬ë¦¬   ë¹…ì‚¬
ì´ì§€í˜„  21  ë¬¼ë¦¬
ê¹€ì°¬ìš°  21  ê²½ì˜   ê²½ì œ

### ğŸ“Œ [ê³¼ì œ 12]
12. ë‰´ì§„ìŠ¤ ë©¤ë²„ë“¤ì˜ ë°ì´í„°í”„ë ˆì„(df)ì—ì„œ ì—°ì†ëœ ì—¬ëŸ¬ ì¤„ì„ ì°¾ëŠ” ê³¼ì œì…ë‹ˆë‹¤.<br/>
    'ë‹¤ë‹ˆì—˜'ë¶€í„° 'í˜œì¸'ê¹Œì§€ì˜ 'í•™ë²ˆ'ê³¼ 'ì—­í• 'ë§Œì„ í™•ì¸í•  ìˆ˜ ìˆë„ë¡ ì¶œë ¥í•´ë³´ì„¸ìš”! <br/>
    (ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ì‚¬ìš©)

In [21]:
import pandas as pd

lst = [['ë¯¼ì§€', 15, 'ì»´ê³µ', 'AI', 'íšŒì¥'], 
       ['ë‹¤ë‹ˆì—˜', 16, 'ê²½ì˜', 'ì‹¬ë¦¬', 'êµìœ¡íŒ€ì¥'],
       ['í•˜ë‹ˆ', 17, 'ê²½ì˜', 'ë¹…ì‚¬', 'êµìœ¡íŒ€ì›'], 
       ['í•´ë¦°', 19, 'ê²½ì˜', 'ë¹…ì‚¬', 'êµìœ¡íŒ€ì›'],
       ['í˜œì¸', 16, 'ê²½ì œ', 'ë¹…ì‚¬', 'êµìœ¡íŒ€ì›']]

df12 = pd.DataFrame(lst, columns=['ì´ë¦„', 'í•™ë²ˆ', 'ì „ê³µ', 'ë³µìˆ˜ì „ê³µ', 'ì—­í• '])
df12 = df12.set_index('ì´ë¦„')

In [ ]:
***ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”***

     í•™ë²ˆ    ì—­í•
ì´ë¦„
ë‹¤ë‹ˆì—˜  16  êµìœ¡íŒ€ì¥
í•˜ë‹ˆ   17  êµìœ¡íŒ€ì›
í•´ë¦°   19  êµìœ¡íŒ€ì›
í˜œì¸   16  êµìœ¡íŒ€ì›

# 4. DataFrame ìˆ˜ì •/ì¶”ê°€/ì‚­ì œ

## 4-1. ìˆ˜ì •

#### [ê°’ 1ê°œ ìˆ˜ì •]

In [23]:
df_new = df.copy()
df_new.loc['ìœ¤í•´ë¯¼', 'ì—­í• ']

'íšŒì¥'

In [24]:
df_new.loc['ìœ¤í•´ë¯¼', 'ì—­í• '] = 'ì¸ì‹¸'
df_new

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    ì¸ì‹¸
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

#### [í•œ ì¤„ ìˆ˜ì •]

In [25]:
df_new.loc['í™©ì¢…ë¹ˆ'] = [20, 'ë¯¸ì—”', 'ì»´ê³µ', 'ê±´ê´€ìœ„ì¥']
df_new

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    ì¸ì‹¸
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  ê±´ê´€ìœ„ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

In [ ]:
# ì—­í•  columnì˜ ëª¨ë“  ê°’ì„ ë™ì¼í•˜ê²Œ ë°”ê¾¸ê¸°
df_new.***[ : , 'ì—­í• '] = '13ê¸°'
df_new

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ   ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©  13ê¸°
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  13ê¸°
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  13ê¸°
ì´ì§€í˜„  21  ë¬¼ë¦¬          13ê¸°
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  13ê¸°

#### [ì—¬ëŸ¬ ì¤„ ìˆ˜ì •]

In [27]:
df_new.loc[['ìœ¤í•´ë¯¼', 'í™©ì¢…ë¹ˆ']] = "-"
df_new

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ   ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼   -   -    -    -
í™©ì¢…ë¹ˆ   -   -    -    -
ì—„íƒœë¦¼  20  ì‹¬ë¦¬   ë¹…ì‚¬  13ê¸°
ì´ì§€í˜„  21  ë¬¼ë¦¬       13ê¸°
ê¹€ì°¬ìš°  21  ê²½ì˜   ê²½ì œ  13ê¸°

In [28]:
df_new[['ë³µìˆ˜ì „ê³µ', 'ì—­í• ']] = "?"
df_new

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼   -   -    ?  ?
í™©ì¢…ë¹ˆ   -   -    ?  ?
ì—„íƒœë¦¼  20  ì‹¬ë¦¬    ?  ?
ì´ì§€í˜„  21  ë¬¼ë¦¬    ?  ?
ê¹€ì°¬ìš°  21  ê²½ì˜    ?  ?

#### [ìœ„ì¹˜ ë²ˆí˜¸ë¡œ ê°’ ìˆ˜ì •]

In [ ]:
df_new.iloc[[0, 1], ***] = "#"
df_new

     í•™ë²ˆ  ì „ê³µ ë³µìˆ˜ì „ê³µ ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼   -   -    #  #
í™©ì¢…ë¹ˆ   -   -    #  #
ì—„íƒœë¦¼  20  ì‹¬ë¦¬    ?  ?
ì´ì§€í˜„  21  ë¬¼ë¦¬    ?  ?
ê¹€ì°¬ìš°  21  ê²½ì˜    ?  ?

## 4-2. ì¶”ê°€

In [30]:
df_new2 = df.copy()

#### [row ì¶”ê°€]

In [31]:
# ì—†ëŠ” ì¸ë±ìŠ¤ëª…ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë„£ìœ¼ë©´, ìƒˆë¡œìš´ rowê°€ ì¶”ê°€ë¨
df_new2.loc['ê¹€í˜„ì„œ'] = [22, 'êµ­ë¬¸', 'ë¹…ì‚¬, ê²½ì˜', 'êµìœ¡íŒ€ì›']
df_new2

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›
ê¹€í˜„ì„œ  22  êµ­ë¬¸  ë¹…ì‚¬, ê²½ì˜  êµìœ¡íŒ€ì›

#### [column ì¶”ê°€]

In [32]:
df_new2['ê¸°ìˆ˜'] = '13ê¸°'
df_new2

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•    ê¸°ìˆ˜
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥  13ê¸°
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥  13ê¸°
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›  13ê¸°
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›  13ê¸°
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›  13ê¸°
ê¹€í˜„ì„œ  22  êµ­ë¬¸  ë¹…ì‚¬, ê²½ì˜  êµìœ¡íŒ€ì›  13ê¸°

## 4-3. ì‚­ì œ
í–‰ ë°©í–¥ axis=0 <br/>
ì—´ ë°©í–¥ axis=1

In [ ]:
df_new2.drop('ìœ¤í•´ë¯¼', axis = ***, inplace = True)  #inplace = False --> ê¸°ì¡´ì˜ dfì— ì˜í–¥ X
df_new2

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•    ê¸°ìˆ˜
ì´ë¦„
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥  13ê¸°
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›  13ê¸°
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›  13ê¸°
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›  13ê¸°
ê¹€í˜„ì„œ  22  êµ­ë¬¸  ë¹…ì‚¬, ê²½ì˜  êµìœ¡íŒ€ì›  13ê¸°

In [ ]:
df_new2.drop(['ë³µìˆ˜ì „ê³µ', 'ê¸°ìˆ˜'], axis = ***, inplace = True)
df_new2

     í•™ë²ˆ  ì „ê³µ    ì—­í•
ì´ë¦„
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬  êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜  êµìœ¡íŒ€ì›
ê¹€í˜„ì„œ  22  êµ­ë¬¸  êµìœ¡íŒ€ì›

In [ ]:
# del df['ì¹¼ëŸ¼ëª…'] : í•´ë‹¹ ì¹¼ëŸ¼ ì‚­ì œ

*** df_new2['ì—­í• ']
df_new2

     í•™ë²ˆ  ì „ê³µ
ì´ë¦„
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”
ì—„íƒœë¦¼  20  ì‹¬ë¦¬
ì´ì§€í˜„  21  ë¬¼ë¦¬
ê¹€ì°¬ìš°  21  ê²½ì˜
ê¹€í˜„ì„œ  22  êµ­ë¬¸

### ğŸ“Œ [ê³¼ì œ 13]
13. df_new3ì— ë³¸ì¸ í¬í•¨ 2ëª…ì˜ ì •ë³´ë¥¼ ì¶”ê°€í•˜ê³ (í–‰), ìƒˆë¡œìš´ ì—´ì„ ë§Œë“¤ì–´ë³´ì!

In [36]:
df_new3 = df.copy()
df_new3

     í•™ë²ˆ  ì „ê³µ    ë³µìˆ˜ì „ê³µ    ì—­í•
ì´ë¦„
ìœ¤í•´ë¯¼  21  ê²½ì˜  ì¸ê³µì§€ëŠ¥ìœµí•©    íšŒì¥
í™©ì¢…ë¹ˆ  20  ë¯¸ì—”      ì»´ê³µ  êµìœ¡íŒ€ì¥
ì—„íƒœë¦¼  20  ì‹¬ë¦¬      ë¹…ì‚¬  êµìœ¡íŒ€ì›
ì´ì§€í˜„  21  ë¬¼ë¦¬          êµìœ¡íŒ€ì›
ê¹€ì°¬ìš°  21  ê²½ì˜      ê²½ì œ  êµìœ¡íŒ€ì›

In [ ]:
***ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”***